

header{
    text-align: center;
}

img{
    height : 130px;
    width : 100px;
}
nav{
    background-color: chocolate;
}
.img{      
    text-align: center
}
.img-grand{
    height : 400px;
     width : 768px;
}
#descripcion{
    text-align: start;
    height : 400px;
    width : 350px;
    
}
#frase{
    float: right;
    height : 400px;
    width : 350px;
     
}
footer{
    text-align: center;
    background-color: maroon;
    color: white;
}