#megamente{
    width: 250px;
    height: 250px;
}

#lentes{
    width: 150px;
    height: 250px;
    animation: retro 3s infinite;
    
}

@keyframes retro{
    0%{
        transform: translateX(-0px);
    }
    25%{
        transform: translateX(-50px);
    }
    50%{
        transform: translateX(-100px);
    }
    75%{
        transform: translateX(-150px);
    }
    100%{
        transform: translateX(-200px);
    }
    
    
}


